body {
    font-family: "Roboto";
    color: #2e2f42;
    font-weight: normal;
    font-style: normal;
}
a{
    text-decoration: none;
}
.logo {
    font-family: inherit;
    font-size: 12px;
    line-height: calc(16px / 12px);
    letter-spacing: 4%;
}

.logo:hover, .logo:focus {
    font-family: inherit;
    font-size: 12px;
    line-height: calc(16px / 12px);
    color: #404bbf;
    text-decoration: underline;
}
.nav-menu {
    font-family: inherit;
    font-size: 16px;
    line-height: calc(24px / 16px);
    letter-spacing: 2%;
    font-weight: medium;
}

.address{
    font-family: inherit;
    font-size: 12px;
    line-height: calc(14px / 12px);
    letter-spacing: 4%;
}
.address:hover, .address:focus{
    font-family: inherit;
    font-size: 12px;
    line-height: calc(14px / 12px);
    letter-spacing: 4%;
    color: #404bbf;
    text-decoration: underline;
}

.main-head{
    font-family: inherit;
    font-size:56px;
    line-height: calc(60px / 56px);
    letter-spacing: 2%;
    font-weight: bold;
    color:#ffffff;
    background-color:#2e2f42;
}
.main-button{
    cursor: pointer;
    font-family: inherit;
    font-size:16px;
    line-height: calc(24px / 16px);
    letter-spacing: 4%;
    font-weight: medium;
    background-color: #4D5AE5;
    color: #ffffff;
}
.main-button:hover, .main-button:focus{
    cursor: pointer;
    font-family: inherit;
    font-size:16px;
    line-height: calc(24px / 16px);
    letter-spacing: 4%;
    font-weight: medium;
    background-color: #404BBF;
    color: #ffffff;
}
.medium-header {
    font-size: 36px;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 2%;
}
.small-header {
    font-family:inherit;
    font-size: 20px;
    font-weight: medium;
    letter-spacing: 2%;
}
.text{
    font-family: inherit;
    font-size: 16px;
    line-height: calc(24px / 16px);
    letter-spacing: 2%;
}



